.book-shelf-box {
  position: relative;

  .header { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 46px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color: #B5331D;
    box-sizing: border-box;
    z-index: 99;

    .header-title {
      position: absolute;
      top: 13px;
      left: 15px;
      color: #fff;
      line-height: 20px;
      text-align: left;
    }

    .header-search {
      position: absolute;
      display: inline-block;
      top: 12px;
      right: 15px;

      a {
        .icon-search {
          font-size: 20px;
        }
      }

      .icon-manage-shelf {
        font-size: 20px;
        margin-left: 20px;
      }
    }
  }

  .manage-box {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 10;

    .manage-item {
      /deep/ .van-button--normal {
        width: 88px;
      }

      /deep/ .van-button::before {
        border: 0;
      }
    }
  }

  .shelf-content {
    padding: 10px 10px 10px 18px;

    ul {
      // display: flex;
      padding: 10px;
      overflow: hidden;
    }

    .check-all {
      font-size: 14px;
    }

    .shelf-item {
      position: relative;
      width: 80px;
      // flex: 1;
      float: left;
      margin-right: 40px;
      margin-top: 20px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      .imgBox-bg{
        width: 80px;
        height: 100px;
        border-radius: 4px;
        background-color: #fcfcfc;
        box-shadow: 0px 0px 10px #888888;

        .line{
          margin: 0 5px;
          width: 2px;
          height: 100%;
          background-color: #ccc;
        }
      }

      .img-box {
        width: 60px;
        height: 80px;
        margin: 10px auto;
        border-radius: 4px;
        overflow: hidden;
        font-size: 0;

        .auto-img {
          width: 100%;
          height: 100%;
          display: block;
          border-radius: 8px;
        }
      }

      .title {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 600;
        color: #777;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .check-box {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .action-box {
    position: fixed;
    bottom: 65px;
    left: 0;
    width: 100%;

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    .check-all {
      position: relative;
      left: 10px;
      width: 100px;
      height: 26px;
      font-size: 12px;
    }

    .del-btn,
    .cancel-btn {
      width: 65px;
      height: 26px;
      border-radius: 13px;
      color: white;
      text-align: center;
      position: relative;
      line-height: 24px;
      font-size: 12px;
      font-family: "Microsoft YaHei";
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
    }

    .cancel-btn {
      background: #222;
      right: 20px;
    }

    .del-btn {
      background: #B5331D;
      right: 10px;
    }
  }

  .add-book {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /deep/ .van-popup {
    padding: 10px 10px;
    box-sizing: border-box;

    ul {
      width: 100%;

      .pop-item {
        padding: 20px 0;
        height: 40px;
        border-bottom: 1px solid #c0c0c0;

        &:last-child{
          border-bottom: 0;
        }

        .content {
          position: relative;
          padding-left: 20px;
          font-size: 16px;
          font-weight: 600;

          .icon-rank,
          .icon-bookshelf {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 18px;
          }

          .title {
            padding-left: 10px;
          }
        }

        .tips {
          margin-top: 10px;
          padding-left: 30px;
          font-size: 12px;
          color: #777;
        }
      }
    }
  }
}